// *************************************
//
//   Base
//   -> Base-level tags (body, p, etc.)
//
// *************************************

html
  font-size: $base-fontSize

body
  background: $base-background
  color: $base-color
  font-family: $base-fontFamily
  font-size: 100%
  line-height: $base-lineHeight

// -------------------------------------
//   Block Content
// -------------------------------------

p
  font-size: rem($base-fontSize)

// -------------------------------------
//   Inline Content
// -------------------------------------

a
  color: $base-link-color
  text-decoration: none
  &:hover,
  &:focus
    text-decoration: underline

.disabled
  pointer-events: none
  cursor: default

// Utility classes
.hide
  display: none !important
// -------------------------------------
// Zurb Fundation Base
// -------------------------------------

@import "foundation/components/global"
@import "foundation/components/visibility"
