// *************************************
//
//   Content
//   -> Typography
//
// *************************************
@import "foundation/components/type"
@import "foundation/components/inline-lists"
@import "foundation/components/keystrokes"
@import "foundation/components/labels"

.noselect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none