// *************************************
//
//   Layout
//   -> Margin, Padding, Sizing
//
// *************************************

// -------------------------------------
//   Cell
// -------------------------------------

%l-cell, .l-cell
  margin: 0 auto
  max-width: rem($l-maxWidth)
  padding: 0 rem(60px)

// -------------------------------------
//   Utilities
// -------------------------------------

%l-block, .l-block
  display: block

%l-condense, .l-condense
  margin-bottom: rem($base-whitespace / 2)

%l-pullLeft, .l-pullLeft
  float: left

%l-pullRight, .l-pullRight
  float: right

%l-space, .l-space
  margin-bottom: rem($base-whitespace)

%l-xspace, .l-xspace
  margin-bottom: rem($base-whitespace * 2)

