.collapse
  -webkit-transition: all 500ms
  -moz-transition: all 500ms
  -ms-transition: all 500ms
  -o-transition: all 500ms
  transition: all 500ms
  display: none!important
.collapsing
  -webkit-transition: all 500ms
  -moz-transition: all 500ms
  -ms-transition: all 500ms
  -o-transition: all 500ms
  transition: all 500ms
  opacity: 0

.collapse.in
  display: block!important