@import "foundation/components/reveal";
@import "_alert-boxes";
#v-notifications-tray {
  position: fixed;
}
#v-notifications-tray{
  &.v-top-right {
    top: 0;
    right: 0;
  }
  &.v-top-left {
    top: 0;
    left: 0;
  }
  &.v-top-center {
    top: 0;
    left: 50%;
  }&.v-bottom-center {
    bottom: 0;
    left: 50%;
  }&.v-bottom-left {
    bottom: 0;
    left: 0;
  }&.v-bottom-right {
    bottom: 0;
    right: 0%;
  }
}
.v-notification-tray {
  margin: 0 5px 5px 0;
  background: #3b3c3e;
  border: 2px solid #585b5c;
  h1 {
    font-size: 14px;
    line-height: 18px;
    display: block;
    margin: 0 0.5em 0 0;
    color: #fff;
  }
  p {
    font-size: 12px;
    font-weight: normal;
    line-height: 1.3;
    margin: 0 0.5em 0 0;
  }

}
.v-notification {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  background: #c8ccd0;
  opacity: 0.9;
  z-index: 2000;
  margin-bottom: 4px!important;
}
.v-notification-error-message, .v-notification-warning-message {
  position: fixed;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  h1, p {
    display: inline;
    margin: 0 0.5em 0 0;
    color: #fff;
  }
}
.v-notification-error-message {
  top: 0;
  width: 100%;
  height: 100%;
  .popupContent {
    @include alert-style($alert-color);
    padding: 1em;

  }
}
.v-notification-warning-message {
  background-color: transparent;
  padding: 1em;
  top: 50%;
  left: 30%;
  cursor: default;
  .popupContent {
    z-index: 2000;
    @include alert-style($warning-color);
    padding: 1em;
    cursor: pointer;
  }
}