@import "foundation/components/panels";
.v-panel{
  @extend .panel;
  display: block;
  h5 {
    line-height: 1;
    margin: 0 0 3px 0;
  }

  .tools {
    float: right;
  }

  .title {
    float: left;
  }

  .clr {
    clear: both;
  }

  .tools span {
    margin-left: 5px;
  }
}


