<div class="v-window">
    <div class="v-window-header noselect">
        <h5 class="title">{{title}}</h5>
        <div class="tools">

                <span ng-if="collapsible" ng-click="collapse()" id="collapse-icon"
                      ng-class="{'icon-minus': !doCollapse, 'icon-plus': doCollapse}"></span>

            <span ng-if="closable" id="close-icon" ng-click="close()" class="icon-close"></span>

        </div>
    </div>


    <div class="clr"></div>
    <div class="content-panel" collapse="doCollapse">
        <content select=".content"></content>
    </div>
    <div ng-transclude class="v-toolbar footer">
        <content select=".buttons"></content>
    </div>
</div>
