:host{
    display: block;
    z-index: 90;
    position: absolute;
}
h5.title {
    line-height: 1;
    margin: 0 0 3px 0;
    color: blue;
    float: left;
    display: table-cell;
}
.tools {
    padding-left: 30px;
    display: table-cell;
    float: right;
}
.clr {
    clear: both;
}
.tools span {
    margin-left: 5px;
}
.content-panel {
    padding: 10px;
    font-size: 13px;
    font-weight: 300;
    border: 1px solid #f5f5f5;
    background-color: white;
}
.v-toolbar {
    padding: 6px 0 6px 6px;
    border-style: solid;
    border-color: #cecece;
    border-width: 1px;
    background-image: none;
    background-color: #e6e6e6;
}

button,.button,v-button {
    margin-bottom: 0 !important;
    display: inline-block;
}

.v-toolbar.footer {
    text-align: center;

}
.v-window-header {
    moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 9px 9px 6px 9px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    display: table;
    font-size: 15px!important;
    width: 100%;
}