<h1>Error and Warning Notifications</h1>
<div>
    <p class="description">
        Error and warning notifications get the user attention. <br />
        <b>Error</b> notifications do not disappear automatically forcing the user to click to continue working.
        This ensure user attention <br />
        <b>Warning</b> notifications don't force user click to continue work, or the message timeout

    </p>
    <h2>Usage</h2>
    <ul class="button-group">
        <li><a ng-click="error()" class="button tiny">Error</a> </li>
        <li><a ng-click="warning()" class="button tiny">Warning</a> </li>
    </ul>
</div>