<div>
    <h1>Http Interceptor Class</h1>
    <p class="description">
        This class provide some methods to use with interceptors. This is not coupled to the Angular Interceptors, and
        represents only the logic to handle the request on normal operations and on failure.
    </p>
    <h2>Usage</h2>
    <p>
        The class have 2 methods <b>responseError(error, httpStatus)</b> and <b>processRequest(request)</b>.
        The first one simple receive the error in string and then display a
        <a href="#notification/error-warning">Notify Error or Warning</a> depending on <b>httpStatus</b>
        message in the screen
    </p>
    <h2>Example</h2>
    <p>
        This example show the usage of the class with Angular, the angular interceptor forwards the content.<br />
        See the source file <b>http_interceptors.dart</b> and <b>application.dart</b>
    </p>
    <p>
        <ul class="button-group">
            <li><a ng-click="sendError()" class="button tiny alert">Simulate server response error</a></li>
            <li><a ng-click="sendOk()" class="button tiny success">Simulate server ok message</a></li>
            <li><a ng-click="sendNotFound()" class="button tiny">Not found page</a></li>
        </ul>
    </p>
</div>