<h1>Tray Notification</h1>
<div>
    <p class="description">
        The object of tray notifications is to quick show information, like status update, they are made to be quite
        and not poluted.
    </p>
    <h2>Usage</h2>
    <p>
        By default all tray notifications show in the TOP_CENTER of the page. And disappear in 5 seconds
        <a ng-click="sendNotification()">Click here to see all Status</a>
    </p>
    <p>
    <h3>Options</h3>
    <ul class="button-group">
        <li><a ng-click="defaultNotification()" class="button tiny">Default</a></li>
        <li><a ng-click="clickToClose()" class="button tiny">Click to close</a></li>
        <li><a ng-click="disappear()" class="button tiny">Disappear in 10 seconds</a></li>
        <li><a ng-click="noAnimation()" class="button tiny">Disable/Enable Animations</a></li>
        <li><a ng-click="changeDefaultPosition()" class="button tiny">Change default position to BOTTOM_RIGHT</a></li>
    </ul>
    <h3>Positions</h3>
    <ul class="button-group">
        <li><a ng-click="topLeft()"  class="button tiny">TOP_LEFT</a></li>
        <li><a ng-click="topCenter()"  class="button tiny">TOP_CENTER</a></li>
        <li><a ng-click="topRight()"  class="button tiny">TOP_RIGHT</a></li>
        <li><a ng-click="bottomLeft()" class="button tiny">BOTTOM_LEFT</a></li>
        <li><a ng-click="bottomCenter()" class="button tiny">BOTTOM_CENTER</a></li>
        <li><a ng-click="bottomRight()" class="button tiny">BOTTOM_RIGHT</a></li>
    </ul>

</div>
