<h1>Panels</h1>
<div>


<p class="description">
    Panels are simple, but they are the base for windows, and share behavior
    <v-panel id="panel" title="Title" collapsible="false" closable="false">
        Content for panel
    </v-panel>
    <v-panel class="callout" title="Callout">
        This is a callout panel
    </v-panel>
    <v-panel title="Collapsible and Closable Panel" collapsible="true" closable="true" >
        This is a collapsible and closable panel
    </v-panel>
    <v-panel title="Closable Panel" closable="true">
        This is a closable panel
    </v-panel>


</p>
</div>