<div>
    <h1>Window</h1>
    <p class="description">
        Window is a float panel. By default all windows are centered relative to its parent
    </p>
    <h2>Usage</h2>
    <ul class="button-group">
        <li><a ng-click="show()" class="button">Show another window</a> </li>
    </ul>
    <v-window title="Window" collapsible="true" closable="true" style="width: 200px">
        <div class="content">

        Example of window
        </div>
        <div class="buttons">
            <button class="tiny">OK</button> <button class="tiny">Cancel</button>
        </div>
    </v-window>
    Modal: <input type="checkbox" ng-model="modal" />
    <br />
    <ul class="button-group">
        <li><a ng-click="confirm()" class="button">Confirm</a></li>
        <li><a ng-click="prompt()" class="button">Prompt</a></li>
        <li><a ng-click="multiline()" class="button">Multiline Prompt</a></li>
        <li><a ng-click="alert()" class="button">Alert</a></li>
        <li><a ng-click="showOK()" class="button">Show OK Dialog</a></li>
        <li><a ng-click="showOKCANCEL()" class="button">Show OK CANCEL Dialog</a></li>
        <li><a ng-click="showYESNOCANCEL()" class="button">Show YES NO CANCEL Dialog</a></li>
        <li><a ng-click="customButtons()" class="button">Custom Buttons</a></li>

    </ul>
</div>
