@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?yjfjo');
	src:url('fonts/icomoon.eot?#iefixyjfjo') format('embedded-opentype'),
		url('fonts/icomoon.woff?yjfjo') format('woff'),
		url('fonts/icomoon.ttf?yjfjo') format('truetype'),
		url('fonts/icomoon.svg?yjfjo#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e605";
}
.icon-home2:before {
	content: "\e606";
}
.icon-home3:before {
	content: "\e607";
}
.icon-office:before {
	content: "\e608";
}
.icon-newspaper:before {
	content: "\e609";
}
.icon-pencil:before {
	content: "\e60a";
}
.icon-pencil2:before {
	content: "\e60b";
}
.icon-quill:before {
	content: "\e60c";
}
.icon-pen:before {
	content: "\e60d";
}
.icon-blog:before {
	content: "\e60e";
}
.icon-droplet:before {
	content: "\e60f";
}
.icon-paint-format:before {
	content: "\e610";
}
.icon-image:before {
	content: "\e611";
}
.icon-image2:before {
	content: "\e612";
}
.icon-images:before {
	content: "\e613";
}
.icon-camera:before {
	content: "\e614";
}
.icon-music:before {
	content: "\e615";
}
.icon-headphones:before {
	content: "\e616";
}
.icon-play:before {
	content: "\e617";
}
.icon-film:before {
	content: "\e618";
}
.icon-camera2:before {
	content: "\e619";
}
.icon-dice:before {
	content: "\e61a";
}
.icon-pacman:before {
	content: "\e61b";
}
.icon-spades:before {
	content: "\e61c";
}
.icon-clubs:before {
	content: "\e61d";
}
.icon-diamonds:before {
	content: "\e61e";
}
.icon-pawn:before {
	content: "\e61f";
}
.icon-bullhorn:before {
	content: "\e620";
}
.icon-connection:before {
	content: "\e621";
}
.icon-podcast:before {
	content: "\e622";
}
.icon-feed:before {
	content: "\e623";
}
.icon-book:before {
	content: "\e624";
}
.icon-books:before {
	content: "\e625";
}
.icon-library:before {
	content: "\e626";
}
.icon-file:before {
	content: "\e627";
}
.icon-profile:before {
	content: "\e628";
}
.icon-file2:before {
	content: "\e629";
}
.icon-file3:before {
	content: "\e62a";
}
.icon-file4:before {
	content: "\e62b";
}
.icon-copy:before {
	content: "\e62c";
}
.icon-copy2:before {
	content: "\e62d";
}
.icon-copy3:before {
	content: "\e62e";
}
.icon-paste:before {
	content: "\e62f";
}
.icon-paste2:before {
	content: "\e630";
}
.icon-paste3:before {
	content: "\e631";
}
.icon-stack:before {
	content: "\e632";
}
.icon-folder:before {
	content: "\e633";
}
.icon-folder-open:before {
	content: "\e634";
}
.icon-tag:before {
	content: "\e635";
}
.icon-tags:before {
	content: "\e636";
}
.icon-barcode:before {
	content: "\e637";
}
.icon-qrcode:before {
	content: "\e638";
}
.icon-ticket:before {
	content: "\e639";
}
.icon-cart:before {
	content: "\e63a";
}
.icon-cart2:before {
	content: "\e63b";
}
.icon-cart3:before {
	content: "\e63c";
}
.icon-coin:before {
	content: "\e63d";
}
.icon-credit:before {
	content: "\e63e";
}
.icon-calculate:before {
	content: "\e63f";
}
.icon-support:before {
	content: "\e640";
}
.icon-phone:before {
	content: "\e641";
}
.icon-phone-hang-up:before {
	content: "\e642";
}
.icon-address-book:before {
	content: "\e643";
}
.icon-notebook:before {
	content: "\e644";
}
.icon-envelope:before {
	content: "\e645";
}
.icon-pushpin:before {
	content: "\e646";
}
.icon-location:before {
	content: "\e647";
}
.icon-location2:before {
	content: "\e648";
}
.icon-compass:before {
	content: "\e649";
}
.icon-map:before {
	content: "\e64a";
}
.icon-map2:before {
	content: "\e64b";
}
.icon-history:before {
	content: "\e64c";
}
.icon-clock:before {
	content: "\e64d";
}
.icon-clock2:before {
	content: "\e64e";
}
.icon-alarm:before {
	content: "\e64f";
}
.icon-alarm2:before {
	content: "\e650";
}
.icon-bell:before {
	content: "\e651";
}
.icon-stopwatch:before {
	content: "\e652";
}
.icon-calendar:before {
	content: "\e653";
}
.icon-calendar2:before {
	content: "\e654";
}
.icon-print:before {
	content: "\e655";
}
.icon-keyboard:before {
	content: "\e656";
}
.icon-screen:before {
	content: "\e657";
}
.icon-laptop:before {
	content: "\e658";
}
.icon-mobile:before {
	content: "\e659";
}
.icon-mobile2:before {
	content: "\e65a";
}
.icon-tablet:before {
	content: "\e65b";
}
.icon-tv:before {
	content: "\e65c";
}
.icon-cabinet:before {
	content: "\e65d";
}
.icon-drawer:before {
	content: "\e65e";
}
.icon-drawer2:before {
	content: "\e65f";
}
.icon-drawer3:before {
	content: "\e660";
}
.icon-box-add:before {
	content: "\e661";
}
.icon-box-remove:before {
	content: "\e662";
}
.icon-download:before {
	content: "\e663";
}
.icon-upload:before {
	content: "\e664";
}
.icon-disk:before {
	content: "\e665";
}
.icon-storage:before {
	content: "\e666";
}
.icon-undo:before {
	content: "\e667";
}
.icon-redo:before {
	content: "\e668";
}
.icon-flip:before {
	content: "\e669";
}
.icon-flip2:before {
	content: "\e66a";
}
.icon-undo2:before {
	content: "\e66b";
}
.icon-redo2:before {
	content: "\e66c";
}
.icon-forward:before {
	content: "\e66d";
}
.icon-reply:before {
	content: "\e66e";
}
.icon-bubble:before {
	content: "\e66f";
}
.icon-bubbles:before {
	content: "\e670";
}
.icon-bubbles2:before {
	content: "\e671";
}
.icon-bubble2:before {
	content: "\e672";
}
.icon-bubbles3:before {
	content: "\e673";
}
.icon-bubbles4:before {
	content: "\e674";
}
.icon-user:before {
	content: "\e675";
}
.icon-users:before {
	content: "\e676";
}
.icon-user2:before {
	content: "\e677";
}
.icon-users2:before {
	content: "\e678";
}
.icon-user3:before {
	content: "\e679";
}
.icon-user4:before {
	content: "\e67a";
}
.icon-quotes-left:before {
	content: "\e67b";
}
.icon-busy:before {
	content: "\e67c";
}
.icon-spinner:before {
	content: "\e67d";
}
.icon-spinner2:before {
	content: "\e67e";
}
.icon-spinner3:before {
	content: "\e67f";
}
.icon-spinner4:before {
	content: "\e680";
}
.icon-spinner5:before {
	content: "\e681";
}
.icon-spinner6:before {
	content: "\e682";
}
.icon-binoculars:before {
	content: "\e683";
}
.icon-search:before {
	content: "\e684";
}
.icon-zoomin:before {
	content: "\e685";
}
.icon-zoomout:before {
	content: "\e686";
}
.icon-expand:before {
	content: "\e687";
}
.icon-contract:before {
	content: "\e688";
}
.icon-expand2:before {
	content: "\e689";
}
.icon-contract2:before {
	content: "\e68a";
}
.icon-key:before {
	content: "\e68b";
}
.icon-key2:before {
	content: "\e68c";
}
.icon-lock:before {
	content: "\e68d";
}
.icon-lock2:before {
	content: "\e68e";
}
.icon-unlocked:before {
	content: "\e68f";
}
.icon-wrench:before {
	content: "\e690";
}
.icon-settings:before {
	content: "\e691";
}
.icon-equalizer:before {
	content: "\e692";
}
.icon-cog:before {
	content: "\e693";
}
.icon-cogs:before {
	content: "\e694";
}
.icon-cog2:before {
	content: "\e695";
}
.icon-hammer:before {
	content: "\e696";
}
.icon-wand:before {
	content: "\e697";
}
.icon-aid:before {
	content: "\e698";
}
.icon-bug:before {
	content: "\e699";
}
.icon-pie:before {
	content: "\e69a";
}
.icon-stats:before {
	content: "\e69b";
}
.icon-bars:before {
	content: "\e69c";
}
.icon-bars2:before {
	content: "\e69d";
}
.icon-gift:before {
	content: "\e69e";
}
.icon-trophy:before {
	content: "\e69f";
}
.icon-glass:before {
	content: "\e6a0";
}
.icon-mug:before {
	content: "\e6a1";
}
.icon-food:before {
	content: "\e6a2";
}
.icon-leaf:before {
	content: "\e6a3";
}
.icon-rocket:before {
	content: "\e6a4";
}
.icon-meter:before {
	content: "\e6a5";
}
.icon-meter2:before {
	content: "\e6a6";
}
.icon-dashboard:before {
	content: "\e6a7";
}
.icon-hammer2:before {
	content: "\e6a8";
}
.icon-fire:before {
	content: "\e6a9";
}
.icon-lab:before {
	content: "\e6aa";
}
.icon-magnet:before {
	content: "\e6ab";
}
.icon-remove:before {
	content: "\e6ac";
}
.icon-remove2:before {
	content: "\e6ad";
}
.icon-briefcase:before {
	content: "\e6ae";
}
.icon-airplane:before {
	content: "\e6af";
}
.icon-truck:before {
	content: "\e6b0";
}
.icon-road:before {
	content: "\e6b1";
}
.icon-accessibility:before {
	content: "\e6b2";
}
.icon-target:before {
	content: "\e6b3";
}
.icon-shield:before {
	content: "\e6b4";
}
.icon-lightning:before {
	content: "\e6b5";
}
.icon-switch:before {
	content: "\e6b6";
}
.icon-powercord:before {
	content: "\e6b7";
}
.icon-signup:before {
	content: "\e6b8";
}
.icon-list:before {
	content: "\e6b9";
}
.icon-list2:before {
	content: "\e6ba";
}
.icon-numbered-list:before {
	content: "\e6bb";
}
.icon-menu:before {
	content: "\e6bc";
}
.icon-menu2:before {
	content: "\e6bd";
}
.icon-tree:before {
	content: "\e6be";
}
.icon-cloud:before {
	content: "\e6bf";
}
.icon-cloud-download:before {
	content: "\e6c0";
}
.icon-cloud-upload:before {
	content: "\e6c1";
}
.icon-download2:before {
	content: "\e6c2";
}
.icon-upload2:before {
	content: "\e6c3";
}
.icon-download3:before {
	content: "\e6c4";
}
.icon-upload3:before {
	content: "\e6c5";
}
.icon-globe:before {
	content: "\e6c6";
}
.icon-earth:before {
	content: "\e6c7";
}
.icon-link:before {
	content: "\e6c8";
}
.icon-flag:before {
	content: "\e6c9";
}
.icon-attachment:before {
	content: "\e6ca";
}
.icon-eye:before {
	content: "\e6cb";
}
.icon-eye-blocked:before {
	content: "\e6cc";
}
.icon-eye2:before {
	content: "\e6cd";
}
.icon-bookmark:before {
	content: "\e6ce";
}
.icon-bookmarks:before {
	content: "\e6cf";
}
.icon-brightness-medium:before {
	content: "\e6d0";
}
.icon-brightness-contrast:before {
	content: "\e6d1";
}
.icon-contrast:before {
	content: "\e6d2";
}
.icon-star:before {
	content: "\e6d3";
}
.icon-star2:before {
	content: "\e6d4";
}
.icon-star3:before {
	content: "\e6d5";
}
.icon-heart:before {
	content: "\e6d6";
}
.icon-heart2:before {
	content: "\e6d7";
}
.icon-heart-broken:before {
	content: "\e6d8";
}
.icon-thumbs-up:before {
	content: "\e6d9";
}
.icon-thumbs-up2:before {
	content: "\e6da";
}
.icon-happy:before {
	content: "\e6db";
}
.icon-happy2:before {
	content: "\e6dc";
}
.icon-smiley:before {
	content: "\e6dd";
}
.icon-smiley2:before {
	content: "\e6de";
}
.icon-tongue:before {
	content: "\e6df";
}
.icon-tongue2:before {
	content: "\e6e0";
}
.icon-sad:before {
	content: "\e6e1";
}
.icon-sad2:before {
	content: "\e6e2";
}
.icon-wink:before {
	content: "\e6e3";
}
.icon-wink2:before {
	content: "\e6e4";
}
.icon-grin:before {
	content: "\e6e5";
}
.icon-grin2:before {
	content: "\e6e6";
}
.icon-cool:before {
	content: "\e6e7";
}
.icon-cool2:before {
	content: "\e6e8";
}
.icon-angry:before {
	content: "\e6e9";
}
.icon-angry2:before {
	content: "\e6ea";
}
.icon-evil:before {
	content: "\e6eb";
}
.icon-evil2:before {
	content: "\e6ec";
}
.icon-shocked:before {
	content: "\e6ed";
}
.icon-shocked2:before {
	content: "\e6ee";
}
.icon-confused:before {
	content: "\e6ef";
}
.icon-confused2:before {
	content: "\e6f0";
}
.icon-neutral:before {
	content: "\e6f1";
}
.icon-neutral2:before {
	content: "\e6f2";
}
.icon-wondering:before {
	content: "\e6f3";
}
.icon-wondering2:before {
	content: "\e6f4";
}
.icon-point-up:before {
	content: "\e6f5";
}
.icon-point-right:before {
	content: "\e6f6";
}
.icon-point-down:before {
	content: "\e6f7";
}
.icon-point-left:before {
	content: "\e6f8";
}
.icon-warning:before {
	content: "\e6f9";
}
.icon-notification:before {
	content: "\e6fa";
}
.icon-question:before {
	content: "\e6fb";
}
.icon-info:before {
	content: "\e6fc";
}
.icon-info2:before {
	content: "\e6fd";
}
.icon-blocked:before {
	content: "\e6fe";
}
.icon-cancel-circle:before {
	content: "\e6ff";
}
.icon-checkmark-circle:before {
	content: "\e700";
}
.icon-spam:before {
	content: "\e701";
}
.icon-close:before {
	content: "\e702";
}
.icon-checkmark:before {
	content: "\e703";
}
.icon-checkmark2:before {
	content: "\e704";
}
.icon-spell-check:before {
	content: "\e705";
}
.icon-minus:before {
	content: "\e706";
}
.icon-plus:before {
	content: "\e600";
}
.icon-enter:before {
	content: "\e707";
}
.icon-exit:before {
	content: "\e708";
}
.icon-play2:before {
	content: "\e709";
}
.icon-pause:before {
	content: "\e70a";
}
.icon-stop:before {
	content: "\e70b";
}
.icon-backward:before {
	content: "\e70c";
}
.icon-forward2:before {
	content: "\e70d";
}
.icon-play3:before {
	content: "\e70e";
}
.icon-pause2:before {
	content: "\e70f";
}
.icon-stop2:before {
	content: "\e710";
}
.icon-backward2:before {
	content: "\e711";
}
.icon-forward3:before {
	content: "\e712";
}
.icon-first:before {
	content: "\e713";
}
.icon-last:before {
	content: "\e714";
}
.icon-previous:before {
	content: "\e715";
}
.icon-next:before {
	content: "\e716";
}
.icon-eject:before {
	content: "\e717";
}
.icon-volume-high:before {
	content: "\e718";
}
.icon-volume-medium:before {
	content: "\e719";
}
.icon-volume-low:before {
	content: "\e71a";
}
.icon-volume-mute:before {
	content: "\e71b";
}
.icon-volume-mute2:before {
	content: "\e71c";
}
.icon-volume-increase:before {
	content: "\e71d";
}
.icon-volume-decrease:before {
	content: "\e71e";
}
.icon-loop:before {
	content: "\e71f";
}
.icon-loop2:before {
	content: "\e720";
}
.icon-loop3:before {
	content: "\e721";
}
.icon-shuffle:before {
	content: "\e722";
}
.icon-arrow-up-left:before {
	content: "\e723";
}
.icon-arrow-up:before {
	content: "\e724";
}
.icon-arrow-up-right:before {
	content: "\e725";
}
.icon-arrow-right:before {
	content: "\e726";
}
.icon-arrow-down-right:before {
	content: "\e727";
}
.icon-arrow-down:before {
	content: "\e728";
}
.icon-arrow-down-left:before {
	content: "\e729";
}
.icon-arrow-left:before {
	content: "\e72a";
}
.icon-arrow-up-left2:before {
	content: "\e72b";
}
.icon-arrow-up2:before {
	content: "\e72c";
}
.icon-arrow-up-right2:before {
	content: "\e72d";
}
.icon-arrow-right2:before {
	content: "\e72e";
}
.icon-arrow-down-right2:before {
	content: "\e72f";
}
.icon-arrow-down2:before {
	content: "\e730";
}
.icon-arrow-down-left2:before {
	content: "\e731";
}
.icon-arrow-left2:before {
	content: "\e732";
}
.icon-arrow-up-left3:before {
	content: "\e733";
}
.icon-arrow-up3:before {
	content: "\e734";
}
.icon-arrow-up-right3:before {
	content: "\e735";
}
.icon-arrow-right3:before {
	content: "\e736";
}
.icon-arrow-down-right3:before {
	content: "\e737";
}
.icon-arrow-down3:before {
	content: "\e738";
}
.icon-arrow-down-left3:before {
	content: "\e739";
}
.icon-arrow-left3:before {
	content: "\e73a";
}
.icon-tab:before {
	content: "\e73b";
}
.icon-checkbox-checked:before {
	content: "\e73c";
}
.icon-checkbox-unchecked:before {
	content: "\e73d";
}
.icon-checkbox-partial:before {
	content: "\e73e";
}
.icon-radio-checked:before {
	content: "\e73f";
}
.icon-radio-unchecked:before {
	content: "\e740";
}
.icon-crop:before {
	content: "\e741";
}
.icon-scissors:before {
	content: "\e742";
}
.icon-filter:before {
	content: "\e743";
}
.icon-filter2:before {
	content: "\e744";
}
.icon-font:before {
	content: "\e745";
}
.icon-text-height:before {
	content: "\e746";
}
.icon-text-width:before {
	content: "\e747";
}
.icon-bold:before {
	content: "\e748";
}
.icon-underline:before {
	content: "\e749";
}
.icon-italic:before {
	content: "\e74a";
}
.icon-strikethrough:before {
	content: "\e74b";
}
.icon-omega:before {
	content: "\e74c";
}
.icon-sigma:before {
	content: "\e74d";
}
.icon-table:before {
	content: "\e74e";
}
.icon-table2:before {
	content: "\e74f";
}
.icon-insert-template:before {
	content: "\e750";
}
.icon-pilcrow:before {
	content: "\e751";
}
.icon-lefttoright:before {
	content: "\e752";
}
.icon-righttoleft:before {
	content: "\e753";
}
.icon-paragraph-left:before {
	content: "\e754";
}
.icon-paragraph-center:before {
	content: "\e755";
}
.icon-paragraph-right:before {
	content: "\e756";
}
.icon-paragraph-justify:before {
	content: "\e757";
}
.icon-paragraph-left2:before {
	content: "\e758";
}
.icon-paragraph-center2:before {
	content: "\e759";
}
.icon-paragraph-right2:before {
	content: "\e75a";
}
.icon-paragraph-justify2:before {
	content: "\e75b";
}
.icon-indent-increase:before {
	content: "\e75c";
}
.icon-indent-decrease:before {
	content: "\e75d";
}
.icon-newtab:before {
	content: "\e75e";
}
.icon-embed:before {
	content: "\e75f";
}
.icon-code:before {
	content: "\e760";
}
.icon-console:before {
	content: "\e761";
}
.icon-share:before {
	content: "\e762";
}
.icon-mail:before {
	content: "\e763";
}
.icon-mail2:before {
	content: "\e764";
}
.icon-mail3:before {
	content: "\e765";
}
.icon-mail4:before {
	content: "\e766";
}
.icon-google:before {
	content: "\e767";
}
.icon-googleplus:before {
	content: "\e768";
}
.icon-googleplus2:before {
	content: "\e769";
}
.icon-googleplus3:before {
	content: "\e76a";
}
.icon-googleplus4:before {
	content: "\e76b";
}
.icon-google-drive:before {
	content: "\e76c";
}
.icon-facebook:before {
	content: "\e76d";
}
.icon-facebook2:before {
	content: "\e76e";
}
.icon-facebook3:before {
	content: "\e76f";
}
.icon-instagram:before {
	content: "\e770";
}
.icon-twitter:before {
	content: "\e771";
}
.icon-twitter2:before {
	content: "\e772";
}
.icon-twitter3:before {
	content: "\e773";
}
.icon-feed2:before {
	content: "\e774";
}
.icon-feed3:before {
	content: "\e775";
}
.icon-feed4:before {
	content: "\e776";
}
.icon-youtube:before {
	content: "\e777";
}
.icon-youtube2:before {
	content: "\e778";
}
.icon-vimeo:before {
	content: "\e779";
}
.icon-vimeo2:before {
	content: "\e77a";
}
.icon-vimeo3:before {
	content: "\e77b";
}
.icon-lanyrd:before {
	content: "\e77c";
}
.icon-flickr:before {
	content: "\e77d";
}
.icon-flickr2:before {
	content: "\e77e";
}
.icon-flickr3:before {
	content: "\e77f";
}
.icon-flickr4:before {
	content: "\e780";
}
.icon-picassa:before {
	content: "\e781";
}
.icon-picassa2:before {
	content: "\e782";
}
.icon-dribbble:before {
	content: "\e783";
}
.icon-dribbble2:before {
	content: "\e784";
}
.icon-dribbble3:before {
	content: "\e785";
}
.icon-forrst:before {
	content: "\e786";
}
.icon-forrst2:before {
	content: "\e787";
}
.icon-deviantart:before {
	content: "\e788";
}
.icon-deviantart2:before {
	content: "\e789";
}
.icon-steam:before {
	content: "\e78a";
}
.icon-steam2:before {
	content: "\e78b";
}
.icon-github:before {
	content: "\e78c";
}
.icon-github2:before {
	content: "\e78d";
}
.icon-github3:before {
	content: "\e78e";
}
.icon-github4:before {
	content: "\e78f";
}
.icon-github5:before {
	content: "\e790";
}
.icon-wordpress:before {
	content: "\e791";
}
.icon-wordpress2:before {
	content: "\e792";
}
.icon-joomla:before {
	content: "\e793";
}
.icon-blogger:before {
	content: "\e794";
}
.icon-blogger2:before {
	content: "\e795";
}
.icon-tumblr:before {
	content: "\e796";
}
.icon-tumblr2:before {
	content: "\e797";
}
.icon-yahoo:before {
	content: "\e798";
}
.icon-tux:before {
	content: "\e799";
}
.icon-apple:before {
	content: "\e79a";
}
.icon-finder:before {
	content: "\e79b";
}
.icon-android:before {
	content: "\e79c";
}
.icon-windows:before {
	content: "\e79d";
}
.icon-windows8:before {
	content: "\e79e";
}
.icon-soundcloud:before {
	content: "\e79f";
}
.icon-soundcloud2:before {
	content: "\e7a0";
}
.icon-skype:before {
	content: "\e7a1";
}
.icon-reddit:before {
	content: "\e7a2";
}
.icon-linkedin:before {
	content: "\e7a3";
}
.icon-lastfm:before {
	content: "\e7a4";
}
.icon-lastfm2:before {
	content: "\e7a5";
}
.icon-delicious:before {
	content: "\e7a6";
}
.icon-stumbleupon:before {
	content: "\e7a7";
}
.icon-stumbleupon2:before {
	content: "\e7a8";
}
.icon-stackoverflow:before {
	content: "\e7a9";
}
.icon-pinterest:before {
	content: "\e7aa";
}
.icon-pinterest2:before {
	content: "\e7ab";
}
.icon-xing:before {
	content: "\e7ac";
}
.icon-xing2:before {
	content: "\e7ad";
}
.icon-flattr:before {
	content: "\e7ae";
}
.icon-foursquare:before {
	content: "\e7af";
}
.icon-foursquare2:before {
	content: "\e7b0";
}
.icon-paypal:before {
	content: "\e7b1";
}
.icon-paypal2:before {
	content: "\e7b2";
}
.icon-paypal3:before {
	content: "\e7b3";
}
.icon-yelp:before {
	content: "\e7b4";
}
.icon-libreoffice:before {
	content: "\e7b5";
}
.icon-file-pdf:before {
	content: "\e7b6";
}
.icon-file-openoffice:before {
	content: "\e7b7";
}
.icon-file-word:before {
	content: "\e7b8";
}
.icon-file-excel:before {
	content: "\e7b9";
}
.icon-file-zip:before {
	content: "\e7ba";
}
.icon-file-powerpoint:before {
	content: "\e7bb";
}
.icon-file-xml:before {
	content: "\e7bc";
}
.icon-file-css:before {
	content: "\e7bd";
}
.icon-html5:before {
	content: "\e7be";
}
.icon-html52:before {
	content: "\e7bf";
}
.icon-css3:before {
	content: "\e7c0";
}
.icon-chrome:before {
	content: "\e7c1";
}
.icon-firefox:before {
	content: "\e7c2";
}
.icon-IE:before {
	content: "\e7c3";
}
.icon-opera:before {
	content: "\e7c4";
}
.icon-safari:before {
	content: "\e7c5";
}
.icon-IcoMoon:before {
	content: "\e7c6";
}
.icon-store:before {
	content: "\e7c7";
}
.icon-out:before {
	content: "\e7c8";
}
.icon-in:before {
	content: "\e7c9";
}
.icon-in-alt:before {
	content: "\e7ca";
}
.icon-home4:before {
	content: "\e7cb";
}
.icon-lightbulb:before {
	content: "\e7cc";
}
.icon-anchor:before {
	content: "\e7cd";
}
.icon-feather:before {
	content: "\e7ce";
}
.icon-expand3:before {
	content: "\e7cf";
}
.icon-maximize:before {
	content: "\e7d0";
}
.icon-search2:before {
	content: "\e7d1";
}
.icon-zoomin2:before {
	content: "\e7d2";
}
.icon-zoomout2:before {
	content: "\e7d3";
}
.icon-add:before {
	content: "\e7d4";
}
.icon-subtract:before {
	content: "\e7d5";
}
.icon-exclamation:before {
	content: "\e7d6";
}
.icon-question2:before {
	content: "\e7d7";
}
.icon-close2:before {
	content: "\e7d8";
}
.icon-cmd:before {
	content: "\e7d9";
}
.icon-forbid:before {
	content: "\e7da";
}
.icon-book2:before {
	content: "\e7db";
}
.icon-spinner7:before {
	content: "\e7dc";
}
.icon-play4:before {
	content: "\e7dd";
}
.icon-stop3:before {
	content: "\e7de";
}
.icon-pause3:before {
	content: "\e7df";
}
.icon-forward4:before {
	content: "\e7e0";
}
.icon-rewind:before {
	content: "\e7e1";
}
.icon-sound:before {
	content: "\e7e2";
}
.icon-sound-alt:before {
	content: "\e7e3";
}
.icon-soundoff:before {
	content: "\e7e4";
}
.icon-task:before {
	content: "\e7e5";
}
.icon-inbox:before {
	content: "\e7e6";
}
.icon-inbox-alt:before {
	content: "\e7e7";
}
.icon-envelope2:before {
	content: "\e7e8";
}
.icon-compose:before {
	content: "\e7e9";
}
.icon-newspaper2:before {
	content: "\e7ea";
}
.icon-newspaper-alt:before {
	content: "\e7eb";
}
.icon-clipboard:before {
	content: "\e7ec";
}
.icon-calendar3:before {
	content: "\e7ed";
}
.icon-hyperlink:before {
	content: "\e7ee";
}
.icon-trash:before {
	content: "\e7ef";
}
.icon-trash-alt:before {
	content: "\e7f0";
}
.icon-grid:before {
	content: "\e7f1";
}
.icon-grid-alt:before {
	content: "\e7f2";
}
.icon-menu3:before {
	content: "\e7f3";
}
.icon-list3:before {
	content: "\e7f4";
}
.icon-gallery:before {
	content: "\e7f5";
}
.icon-calculator:before {
	content: "\e7f6";
}
.icon-windows2:before {
	content: "\e7f7";
}
.icon-browser:before {
	content: "\e7f8";
}
.icon-alarm3:before {
	content: "\e7f9";
}
.icon-clock3:before {
	content: "\e7fa";
}
.icon-attachment2:before {
	content: "\e7fb";
}
.icon-settings2:before {
	content: "\e7fc";
}
.icon-portfolio:before {
	content: "\e7fd";
}
.icon-user5:before {
	content: "\e7fe";
}
.icon-users3:before {
	content: "\e7ff";
}
.icon-heart3:before {
	content: "\e800";
}
.icon-chat:before {
	content: "\e801";
}
.icon-comments:before {
	content: "\e802";
}
.icon-screen2:before {
	content: "\e803";
}
.icon-iphone:before {
	content: "\e804";
}
.icon-ipad:before {
	content: "\e805";
}
.icon-forkandspoon:before {
	content: "\e806";
}
.icon-forkandknife:before {
	content: "\e807";
}
.icon-instagram2:before {
	content: "\e808";
}
.icon-facebook4:before {
	content: "\e809";
}
.icon-delicious2:before {
	content: "\e80a";
}
.icon-googleplus5:before {
	content: "\e80b";
}
.icon-dribbble4:before {
	content: "\e80c";
}
.icon-pin:before {
	content: "\e80d";
}
.icon-pin-alt:before {
	content: "\e80e";
}
.icon-camera3:before {
	content: "\e80f";
}
.icon-brightness:before {
	content: "\e810";
}
.icon-brightness-half:before {
	content: "\e811";
}
.icon-moon:before {
	content: "\e812";
}
.icon-cloud2:before {
	content: "\e813";
}
.icon-circle-full:before {
	content: "\e814";
}
.icon-circle-half:before {
	content: "\e815";
}
.icon-globe2:before {
	content: "\e816";
}
.icon-heart4:before {
	content: "\e817";
}
.icon-cloud3:before {
	content: "\e818";
}
.icon-star4:before {
	content: "\e819";
}
.icon-tv2:before {
	content: "\e81a";
}
.icon-sound2:before {
	content: "\e81b";
}
.icon-video:before {
	content: "\e81c";
}
.icon-trash2:before {
	content: "\e81d";
}
.icon-user6:before {
	content: "\e81e";
}
.icon-key3:before {
	content: "\e81f";
}
.icon-search3:before {
	content: "\e820";
}
.icon-settings3:before {
	content: "\e821";
}
.icon-camera4:before {
	content: "\e822";
}
.icon-tag2:before {
	content: "\e823";
}
.icon-lock3:before {
	content: "\e824";
}
.icon-bulb:before {
	content: "\e825";
}
.icon-pen2:before {
	content: "\e826";
}
.icon-diamond:before {
	content: "\e827";
}
.icon-display:before {
	content: "\e828";
}
.icon-location3:before {
	content: "\e829";
}
.icon-eye3:before {
	content: "\e82a";
}
.icon-bubble3:before {
	content: "\e82b";
}
.icon-stack2:before {
	content: "\e82c";
}
.icon-cup:before {
	content: "\e82d";
}
.icon-phone2:before {
	content: "\e82e";
}
.icon-news:before {
	content: "\e82f";
}
.icon-mail5:before {
	content: "\e830";
}
.icon-like:before {
	content: "\e831";
}
.icon-photo:before {
	content: "\e832";
}
.icon-note:before {
	content: "\e833";
}
.icon-clock4:before {
	content: "\e834";
}
.icon-paperplane:before {
	content: "\e835";
}
.icon-params:before {
	content: "\e836";
}
.icon-banknote:before {
	content: "\e837";
}
.icon-data:before {
	content: "\e838";
}
.icon-music2:before {
	content: "\e839";
}
.icon-megaphone:before {
	content: "\e83a";
}
.icon-study:before {
	content: "\e83b";
}
.icon-lab2:before {
	content: "\e83c";
}
.icon-food2:before {
	content: "\e83d";
}
.icon-t-shirt:before {
	content: "\e83e";
}
.icon-fire2:before {
	content: "\e83f";
}
.icon-clip:before {
	content: "\e840";
}
.icon-shop:before {
	content: "\e841";
}
.icon-calendar4:before {
	content: "\e842";
}
.icon-wallet:before {
	content: "\e843";
}
.icon-vynil:before {
	content: "\e844";
}
.icon-truck2:before {
	content: "\e845";
}
.icon-world:before {
	content: "\e846";
}
.icon-phone3:before {
	content: "\e847";
}
.icon-mobile3:before {
	content: "\e848";
}
.icon-mouse:before {
	content: "\e849";
}
.icon-directions:before {
	content: "\e84a";
}
.icon-mail6:before {
	content: "\e84b";
}
.icon-paperplane2:before {
	content: "\e84c";
}
.icon-pencil3:before {
	content: "\e84d";
}
.icon-feather2:before {
	content: "\e84e";
}
.icon-paperclip:before {
	content: "\e84f";
}
.icon-drawer4:before {
	content: "\e850";
}
.icon-reply2:before {
	content: "\e851";
}
.icon-reply-all:before {
	content: "\e852";
}
.icon-forward5:before {
	content: "\e853";
}
.icon-user7:before {
	content: "\e854";
}
.icon-users4:before {
	content: "\e855";
}
.icon-user-add:before {
	content: "\e856";
}
.icon-vcard:before {
	content: "\e857";
}
.icon-export:before {
	content: "\e858";
}
.icon-location4:before {
	content: "\e859";
}
.icon-map3:before {
	content: "\e85a";
}
.icon-compass2:before {
	content: "\e85b";
}
.icon-location5:before {
	content: "\e85c";
}
.icon-target2:before {
	content: "\e85d";
}
.icon-share2:before {
	content: "\e85e";
}
.icon-sharable:before {
	content: "\e85f";
}
.icon-heart5:before {
	content: "\e860";
}
.icon-heart6:before {
	content: "\e861";
}
.icon-star5:before {
	content: "\e862";
}
.icon-star6:before {
	content: "\e863";
}
.icon-thumbsup:before {
	content: "\e864";
}
.icon-thumbsdown:before {
	content: "\e865";
}
.icon-chat2:before {
	content: "\e866";
}
.icon-comment:before {
	content: "\e867";
}
.icon-quote:before {
	content: "\e868";
}
.icon-house:before {
	content: "\e869";
}
.icon-popup:before {
	content: "\e86a";
}
.icon-search4:before {
	content: "\e86b";
}
.icon-flashlight:before {
	content: "\e86c";
}
.icon-printer:before {
	content: "\e86d";
}
.icon-bell2:before {
	content: "\e86e";
}
.icon-link2:before {
	content: "\e86f";
}
.icon-flag2:before {
	content: "\e870";
}
.icon-cog3:before {
	content: "\e871";
}
.icon-tools:before {
	content: "\e872";
}
.icon-trophy2:before {
	content: "\e873";
}
.icon-tag3:before {
	content: "\e874";
}
.icon-camera5:before {
	content: "\e875";
}
.icon-megaphone2:before {
	content: "\e876";
}
.icon-moon2:before {
	content: "\e877";
}
.icon-palette:before {
	content: "\e878";
}
.icon-leaf2:before {
	content: "\e879";
}
.icon-music3:before {
	content: "\e87a";
}
.icon-music4:before {
	content: "\e87b";
}
.icon-new:before {
	content: "\e87c";
}
.icon-graduation:before {
	content: "\e87d";
}
.icon-book3:before {
	content: "\e87e";
}
.icon-newspaper3:before {
	content: "\e87f";
}
.icon-bag:before {
	content: "\e880";
}
.icon-airplane2:before {
	content: "\e881";
}
.icon-lifebuoy:before {
	content: "\e882";
}
.icon-eye4:before {
	content: "\e883";
}
.icon-clock5:before {
	content: "\e884";
}
.icon-microphone:before {
	content: "\e885";
}
.icon-calendar5:before {
	content: "\e886";
}
.icon-bolt:before {
	content: "\e887";
}
.icon-thunder:before {
	content: "\e888";
}
.icon-droplet2:before {
	content: "\e889";
}
.icon-cd:before {
	content: "\e88a";
}
.icon-briefcase2:before {
	content: "\e88b";
}
.icon-air:before {
	content: "\e88c";
}
.icon-hourglass:before {
	content: "\e88d";
}
.icon-gauge:before {
	content: "\e88e";
}
.icon-language:before {
	content: "\e88f";
}
.icon-network:before {
	content: "\e890";
}
.icon-key4:before {
	content: "\e891";
}
.icon-battery:before {
	content: "\e892";
}
.icon-bucket:before {
	content: "\e893";
}
.icon-magnet2:before {
	content: "\e894";
}
.icon-drive:before {
	content: "\e895";
}
.icon-cup2:before {
	content: "\e896";
}
.icon-rocket2:before {
	content: "\e897";
}
.icon-brush:before {
	content: "\e898";
}
.icon-suitcase:before {
	content: "\e899";
}
.icon-cone:before {
	content: "\e89a";
}
.icon-earth2:before {
	content: "\e89b";
}
.icon-keyboard2:before {
	content: "\e89c";
}
.icon-browser2:before {
	content: "\e89d";
}
.icon-publish:before {
	content: "\e89e";
}
.icon-progress-3:before {
	content: "\e89f";
}
.icon-progress-2:before {
	content: "\e8a0";
}
.icon-brogress-1:before {
	content: "\e8a1";
}
.icon-progress-0:before {
	content: "\e8a2";
}
.icon-sun:before {
	content: "\e8a3";
}
.icon-sun2:before {
	content: "\e8a4";
}
.icon-adjust:before {
	content: "\e8a5";
}
.icon-code2:before {
	content: "\e8a6";
}
.icon-screen3:before {
	content: "\e8a7";
}
.icon-infinity:before {
	content: "\e8a8";
}
.icon-light-bulb:before {
	content: "\e8a9";
}
.icon-creditcard:before {
	content: "\e8aa";
}
.icon-database:before {
	content: "\e8ab";
}
.icon-voicemail:before {
	content: "\e8ac";
}
.icon-clipboard2:before {
	content: "\e8ad";
}
.icon-cart4:before {
	content: "\e8ae";
}
.icon-box:before {
	content: "\e8af";
}
.icon-ticket2:before {
	content: "\e8b0";
}
.icon-rss:before {
	content: "\e8b1";
}
.icon-signal:before {
	content: "\e8b2";
}
.icon-thermometer:before {
	content: "\e8b3";
}
.icon-droplets:before {
	content: "\e8b4";
}
.icon-uniE8B5:before {
	content: "\e8b5";
}
.icon-statistics:before {
	content: "\e8b6";
}
.icon-pie2:before {
	content: "\e8b7";
}
.icon-bars3:before {
	content: "\e8b8";
}
.icon-graph:before {
	content: "\e8b9";
}
.icon-lock4:before {
	content: "\e8ba";
}
.icon-lock-open:before {
	content: "\e8bb";
}
.icon-logout:before {
	content: "\e8bc";
}
.icon-login:before {
	content: "\e8bd";
}
.icon-checkmark3:before {
	content: "\e8be";
}
.icon-cross:before {
	content: "\e8bf";
}
.icon-minus2:before {
	content: "\e8c0";
}
.icon-plus2:before {
	content: "\e601";
}
.icon-cross2:before {
	content: "\e8c1";
}
.icon-minus3:before {
	content: "\e8c2";
}
.icon-plus3:before {
	content: "\e602";
}
.icon-cross3:before {
	content: "\e8c3";
}
.icon-minus4:before {
	content: "\e8c4";
}
.icon-plus4:before {
	content: "\e603";
}
.icon-erase:before {
	content: "\e8c5";
}
.icon-blocked2:before {
	content: "\e8c6";
}
.icon-info3:before {
	content: "\e8c7";
}
.icon-info4:before {
	content: "\e8c8";
}
.icon-question3:before {
	content: "\e8c9";
}
.icon-help:before {
	content: "\e8ca";
}
.icon-warning2:before {
	content: "\e8cb";
}
.icon-cycle:before {
	content: "\e8cc";
}
.icon-cw:before {
	content: "\e8cd";
}
.icon-ccw:before {
	content: "\e8ce";
}
.icon-shuffle2:before {
	content: "\e8cf";
}
.icon-arrow:before {
	content: "\e8d0";
}
.icon-arrow2:before {
	content: "\e8d1";
}
.icon-retweet:before {
	content: "\e8d2";
}
.icon-loop4:before {
	content: "\e8d3";
}
.icon-history2:before {
	content: "\e8d4";
}
.icon-back:before {
	content: "\e8d5";
}
.icon-switch2:before {
	content: "\e8d6";
}
.icon-list4:before {
	content: "\e8d7";
}
.icon-add-to-list:before {
	content: "\e604";
}
.icon-layout:before {
	content: "\e8d8";
}
.icon-list5:before {
	content: "\e8d9";
}
.icon-text:before {
	content: "\e8da";
}
.icon-text2:before {
	content: "\e8db";
}
.icon-document:before {
	content: "\e8dc";
}
.icon-docs:before {
	content: "\e8dd";
}
.icon-landscape:before {
	content: "\e8de";
}
.icon-pictures:before {
	content: "\e8df";
}
.icon-video2:before {
	content: "\e8e0";
}
.icon-music5:before {
	content: "\e8e1";
}
.icon-folder2:before {
	content: "\e8e2";
}
.icon-archive:before {
	content: "\e8e3";
}
.icon-trash3:before {
	content: "\e8e4";
}
.icon-upload4:before {
	content: "\e8e5";
}
.icon-download4:before {
	content: "\e8e6";
}
.icon-disk2:before {
	content: "\e8e7";
}
.icon-install:before {
	content: "\e8e8";
}
.icon-cloud4:before {
	content: "\e8e9";
}
.icon-upload5:before {
	content: "\e8ea";
}
.icon-bookmark2:before {
	content: "\e8eb";
}
.icon-bookmarks2:before {
	content: "\e8ec";
}
.icon-book4:before {
	content: "\e8ed";
}
.icon-play5:before {
	content: "\e8ee";
}
.icon-pause4:before {
	content: "\e8ef";
}
.icon-record:before {
	content: "\e8f0";
}
.icon-stop4:before {
	content: "\e8f1";
}
.icon-next2:before {
	content: "\e8f2";
}
.icon-previous2:before {
	content: "\e8f3";
}
.icon-first2:before {
	content: "\e8f4";
}
.icon-last2:before {
	content: "\e8f5";
}
.icon-resize-enlarge:before {
	content: "\e8f6";
}
.icon-resize-shrink:before {
	content: "\e8f7";
}
.icon-volume:before {
	content: "\e8f8";
}
.icon-sound3:before {
	content: "\e8f9";
}
.icon-mute:before {
	content: "\e8fa";
}
.icon-flow-cascade:before {
	content: "\e8fb";
}
.icon-flow-branch:before {
	content: "\e8fc";
}
.icon-flow-tree:before {
	content: "\e8fd";
}
.icon-flow-line:before {
	content: "\e8fe";
}
.icon-flow-parallel:before {
	content: "\e8ff";
}
.icon-arrow-left4:before {
	content: "\e900";
}
.icon-arrow-down4:before {
	content: "\e901";
}
.icon-arrow-up-upload:before {
	content: "\e902";
}
.icon-arrow-right4:before {
	content: "\e903";
}
.icon-arrow-left5:before {
	content: "\e904";
}
.icon-arrow-down5:before {
	content: "\e905";
}
.icon-arrow-up4:before {
	content: "\e906";
}
.icon-arrow-right5:before {
	content: "\e907";
}
.icon-arrow-left6:before {
	content: "\e908";
}
.icon-arrow-down6:before {
	content: "\e909";
}
.icon-arrow-up5:before {
	content: "\e90a";
}
.icon-arrow-right6:before {
	content: "\e90b";
}
.icon-arrow-left7:before {
	content: "\e90c";
}
.icon-arrow-down7:before {
	content: "\e90d";
}
.icon-arrow-up6:before {
	content: "\e90e";
}
.icon-arrow-right7:before {
	content: "\e90f";
}
.icon-arrow-left8:before {
	content: "\e910";
}
.icon-arrow-down8:before {
	content: "\e911";
}
.icon-arrow-up7:before {
	content: "\e912";
}
.icon-arrow-right8:before {
	content: "\e913";
}
.icon-arrow-left9:before {
	content: "\e914";
}
.icon-arrow-down9:before {
	content: "\e915";
}
.icon-arrow-up8:before {
	content: "\e916";
}
.icon-arrow-right9:before {
	content: "\e917";
}
.icon-arrow-left10:before {
	content: "\e918";
}
.icon-arrow-down10:before {
	content: "\e919";
}
.icon-arrow-up9:before {
	content: "\e91a";
}
.icon-uniE91B:before {
	content: "\e91b";
}
.icon-arrow-left11:before {
	content: "\e91c";
}
.icon-arrow-down11:before {
	content: "\e91d";
}
.icon-arrow-up10:before {
	content: "\e91e";
}
.icon-arrow-right10:before {
	content: "\e91f";
}
.icon-menu4:before {
	content: "\e920";
}
.icon-ellipsis:before {
	content: "\e921";
}
.icon-dots:before {
	content: "\e922";
}
.icon-dot:before {
	content: "\e923";
}
.icon-cc:before {
	content: "\e924";
}
.icon-cc-by:before {
	content: "\e925";
}
.icon-cc-nc:before {
	content: "\e926";
}
.icon-cc-nc-eu:before {
	content: "\e927";
}
.icon-cc-nc-jp:before {
	content: "\e928";
}
.icon-cc-sa:before {
	content: "\e929";
}
.icon-cc-nd:before {
	content: "\e92a";
}
.icon-cc-pd:before {
	content: "\e92b";
}
.icon-cc-zero:before {
	content: "\e92c";
}
.icon-cc-share:before {
	content: "\e92d";
}
.icon-cc-share2:before {
	content: "\e92e";
}
.icon-danielbruce:before {
	content: "\e92f";
}
.icon-danielbruce2:before {
	content: "\e930";
}
.icon-github6:before {
	content: "\e931";
}
.icon-github7:before {
	content: "\e932";
}
.icon-flickr5:before {
	content: "\e933";
}
.icon-flickr6:before {
	content: "\e934";
}
.icon-vimeo4:before {
	content: "\e935";
}
.icon-vimeo5:before {
	content: "\e936";
}
.icon-twitter4:before {
	content: "\e937";
}
.icon-twitter5:before {
	content: "\e938";
}
.icon-facebook5:before {
	content: "\e939";
}
.icon-facebook6:before {
	content: "\e93a";
}
.icon-facebook7:before {
	content: "\e93b";
}
.icon-googleplus6:before {
	content: "\e93c";
}
.icon-googleplus7:before {
	content: "\e93d";
}
.icon-pinterest3:before {
	content: "\e93e";
}
.icon-pinterest4:before {
	content: "\e93f";
}
.icon-tumblr3:before {
	content: "\e940";
}
.icon-tumblr4:before {
	content: "\e941";
}
.icon-linkedin2:before {
	content: "\e942";
}
.icon-linkedin3:before {
	content: "\e943";
}
.icon-dribbble5:before {
	content: "\e944";
}
.icon-dribbble6:before {
	content: "\e945";
}
.icon-stumbleupon3:before {
	content: "\e946";
}
.icon-stumbleupon4:before {
	content: "\e947";
}
.icon-lastfm3:before {
	content: "\e948";
}
.icon-lastfm4:before {
	content: "\e949";
}
.icon-rdio:before {
	content: "\e94a";
}
.icon-rdio2:before {
	content: "\e94b";
}
.icon-spotify:before {
	content: "\e94c";
}
.icon-spotify2:before {
	content: "\e94d";
}
.icon-qq:before {
	content: "\e94e";
}
.icon-instagram3:before {
	content: "\e94f";
}
.icon-dropbox:before {
	content: "\e950";
}
.icon-evernote:before {
	content: "\e951";
}
.icon-flattr2:before {
	content: "\e952";
}
.icon-skype2:before {
	content: "\e953";
}
.icon-skype3:before {
	content: "\e954";
}
.icon-renren:before {
	content: "\e955";
}
.icon-sina-weibo:before {
	content: "\e956";
}
.icon-paypal4:before {
	content: "\e957";
}
.icon-picasa:before {
	content: "\e958";
}
.icon-soundcloud3:before {
	content: "\e959";
}
.icon-mixi:before {
	content: "\e95a";
}
.icon-behance:before {
	content: "\e95b";
}
.icon-circles:before {
	content: "\e95c";
}
.icon-vk:before {
	content: "\e95d";
}
.icon-smashing:before {
	content: "\e95e";
}
