<div class="v-panel">
    <div class="toolbar">


        <div class="title">
            <h5>{{title}}</h5>
        </div>

        <div class="tools">

                    <span ng-if="collapsible" ng-click="collapse()" id="collapse-icon"
                          ng-class="{'icon-minus': !doCollapse, 'icon-plus': doCollapse}"></span>

            <span ng-if="closable" id="close-icon" ng-click="close()" class="icon-close"></span>

        </div>
    </div>
    <div class="clr"></div>
    <div class="content-panel" collapse="doCollapse">
        <content></content>
    </div>
</div>
