<h1>Desktop Notifications</h1>
<div desktop-notification>
  <p class="description">
      You can use the Notify class to show notifications direct in the desktop, when the browser supports. <br />
      If the browser does not support or the user denied the notification, the method will fall back to browser Tray notifications.
  </p>
    <h2>Usage</h2>
    <p>
        Use <b>notify.show(title, message: message, type: NotifyType.DESKTOP)</b> to show the message in desktop.
        Other params like <i>delaySeconds</i> that do not apply to this kind of notification are ignored.
    </p>
    <h2>Example</h2>
    <a class="button" ng-click="ctrl.sayHello()">Say Hello</a>
</div>