#content {
    min-height: 700px;
}
li.heading{
    color: #008CBA;
}
li label.first {
    color: #008CBA;
}
.marketing .off-canvas-list li label{
    background: none !important;
    border-top: none !important;
    padding: 0.4rem 0.95rem 0.4rem 0.95rem !important;
    font-size: 0.775rem !important;
}
.marketing .off-canvas-list label.first {
    padding-top: 0.75rem !important;
}
.marketing .off-canvas-list li a {
    border-bottom: none !important;
    font-size: 1.25rem;
    padding: 0.2rem 0.95rem;
    color: #ccc;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 500;
}